#div1, #div2, #div3, #div4 {
    padding-top: 20px;
  }
  
  #transmissionTypeForm {
      margin-left: 20%;
      margin-right: 20%;
  }
  
  .border-bottom {
    border-width: 3px !important;
  }
  
  #transmissionTypeName {
    width: 300px;
    float: right;
    margin-right: 30%;
  }
  
  #createTransmissionType {
    width: 200px;
    float: right;
    margin-right: 35%;
  }