<div class="col-lg">
  <h1 class="card-title text-center"> Change password</h1>
  <div class="card">
    <div class="card-body">
      <div class="container register-form pt-4">
        <form [formGroup]="passwordData" (ngSubmit)="checkValidPassword()">
          <div class="row">
            <div class="form-group col-lg-6">
              <label for="inputPassword">Password</label>
              <input
                [ngClass]="{'is-invalid': (f.password.touched && f.password.errors) || passwordData.hasError('notSame'), 'is-valid': f.password.touched && f.password.valid && !passwordData.hasError('notSame')}"
                type="password"
                class="form-control"
                id="inputPassword"
                name="password" formControlName="password"
                placeholder="Enter your password"
                required>
              <span style="color: red" *ngIf="f.password.invalid && f.password.touched">Password must contain between 8 and 30 characters, at least one upper case letter, one lower case letter, one special character and one number.</span>
            </div>

            <div class="form-group col-lg-6">
              <label for="inputPasswordRepeat">Repeat password</label>
              <input
                [ngClass]="{'is-invalid': (f.passwordRepeat.touched && f.passwordRepeat.errors) || passwordData.hasError('notSame'), 'is-valid': f.passwordRepeat.touched && f.passwordRepeat.valid && !passwordData.hasError('notSame')}"
                type="password"
                class="form-control"
                id="inputPasswordRepeat"
                name="passwordRepeat" formControlName="passwordRepeat"
                placeholder="Re-enter your password"
                required>
              <span style="color: red"
                    *ngIf="f.passwordRepeat.invalid && f.passwordRepeat.touched">Passwords must match</span>
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-success" type="submit" [hidden]="passwordData.invalid">Check password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col-lg" [hidden]="!valid" style="margin-top: 50px;">
  <div class="card">
    <div class="card-body">
      <div class="container register-form pt-4">
        <form [formGroup]="newPasswordData" (ngSubmit)="changePassword()">
          <div class="row">
            <div class="form-group col-lg-6">
              <label for="inputPassword2">New password</label>
              <input
                [ngClass]="{'is-invalid': (f2.password.touched && f2.password.errors) || passwordData.hasError('notSame'), 'is-valid': f2.password.touched && f2.password.valid && !passwordData.hasError('notSame')}"
                type="password"
                class="form-control"
                id="inputPassword2"
                name="password" formControlName="password"
                placeholder="Enter your password"
                required>
              <span style="color: red" *ngIf="f2.password.invalid && f2.password.touched">Password must contain between 8 and 30 characters, at least one upper case letter, one lower case letter, one special character and one number.</span>
            </div>

            <div class="form-group col-lg-6">
              <label for="inputPasswordRepeat2">Repeat new password</label>
              <input
                [ngClass]="{'is-invalid': (f2.passwordRepeat.touched && f2.passwordRepeat.errors) || passwordData.hasError('notSame'), 'is-valid': f2.passwordRepeat.touched && f2.passwordRepeat.valid && !passwordData.hasError('notSame')}"
                type="password"
                class="form-control"
                id="inputPasswordRepeat2"
                name="passwordRepeat" formControlName="passwordRepeat"
                placeholder="Re-enter your password"
                required>
              <span style="color: red"
                    *ngIf="f2.passwordRepeat.invalid && f2.passwordRepeat.touched">Passwords must match</span>
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-success" type="submit" [hidden]="newPasswordData.invalid">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
