<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
  <meta charset="UTF-8">
  <title>Certificates</title>
  <style>
    nav .navbar-nav li a {
      color: white !important;
    }

    nav .navbar-brand {
      color: white !important;
    }
  </style>
</head>
<body style="height: 100%;">
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand ml-3" routerLink="/adminHomePage" *ngIf="role == 'ROLE_ADMIN'">Rent a car</a>
    <a class="navbar-brand ml-3" routerLink="/agentHomePage" *ngIf="role == 'ROLE_AGENT'">Rent a car</a>
    <a class="navbar-brand ml-3" routerLink="/customerHomePage" *ngIf="role =='ROLE_CUSTOMER'">Rent a car</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse navbar-responsive-collapse ">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item active" *ngIf="role == 'ROLE_AGENT' || role == 'ROLE_CUSTOMER'">
          <a class="nav-link" routerLink="/createAdvertisement">
            <fa-icon [icon]="faCreateAd" class="mr-1"></fa-icon>
            Create advertisement</a>
        </li>

        <li class="nav-item active" *ngIf="role == 'ROLE_AGENT'">
          <a class="nav-link" routerLink="/agentAdvertisements">
            <fa-icon [icon]="faCreateAd" class="mr-1"></fa-icon>
            My advertisements</a>
        </li>

        <li class="nav-item active" *ngIf="role == 'ROLE_CUSTOMER'">
          <a class="nav-link" routerLink="/customerAdvertisements">
            <fa-icon [icon]="faCreateAd" class="mr-1"></fa-icon>
            My advertisements</a>
        </li>


        <li class="nav-item active" *ngIf="role == 'ROLE_AGENT' || role == 'ROLE_CUSTOMER'">
          <a class="nav-link" routerLink="/messages">
            <fa-icon [icon]="faMessages" class="mr-1"></fa-icon>
            Messages</a>
        </li>

        <li class="nav-item active" *ngIf="role == 'ROLE_AGENT' || role == 'ROLE_CUSTOMER'">
          <a class="nav-link" routerLink="/rentRequests">
            <fa-icon [icon]="faCar" class="mr-1"></fa-icon>
            Rent Requests</a>
        </li>
        
        <li class="nav-item active" *ngIf="role == 'ROLE_ADMIN'">
          <a class="nav-link" routerLink="/registrationRequests">
            <fa-icon [icon]="faUserPlus" class="mr-1"></fa-icon>
            Registration Requests</a>
        </li>

        <li class="nav-item active" *ngIf="role == 'ROLE_ADMIN'">
          <a class="nav-link" routerLink="/agentRegister">
            <fa-icon [icon]="faPlusSquare" class="mr-1"></fa-icon>
            Create Agent</a>
        </li>

        <li class="nav-item active" *ngIf="role == 'ROLE_ADMIN'">
          <a class="nav-link" routerLink="/blockActivateRemoveCustomer">
            <fa-icon [icon]="faUsers" class="mr-1"></fa-icon>
            Customers</a>
        </li>

        <li class="nav-item dropdown" *ngIf="role == 'ROLE_ADMIN'">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink19" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <fa-icon [icon]="faBookOpen" class="mr-1"></fa-icon>
            Codebook</a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink19">
            <a class="dropdown-item bg-dark" routerLink="/carBrand">Car Brand</a>
            <a class="dropdown-item bg-dark" routerLink="/carModel">Car Model</a>
            <a class="dropdown-item bg-dark" routerLink="/carClass">Car Class</a>
            <a class="dropdown-item bg-dark" routerLink="/fuelType">Fuel Type</a>
            <a class="dropdown-item bg-dark" routerLink="/transmissionType">Transmission Type</a>
          </div>
        </li>

        <li class="nav-item active" *ngIf="role == 'ROLE_ADMIN'">
          <a class="nav-link" routerLink="/comments">
            <fa-icon [icon]="faComment" class="mr-1"></fa-icon>
            Comments</a>
        </li>

      </ul>

      <ul class="navbar-nav mr-0">
        <li class="nav-item active" *ngIf="!checkLoggedIn()">
          <a class="nav-link" routerLink="/login">
            <fa-icon [icon]="faLogin" class="mr-1"></fa-icon>
            Login</a>
        </li>

        <li class="nav-item active" *ngIf="!checkLoggedIn()">
          <a class="nav-link" routerLink="/register">
            <fa-icon [icon]="faRegister" class="mr-1"></fa-icon>
            Register</a>
        </li>

        <li class="nav-item active" *ngIf="checkLoggedIn()" (click)="logout()">
          <a class="nav-link" routerLink="/">
            <fa-icon [icon]="faLogout" class="mr-1"></fa-icon>
            Logout</a>
        </li>

      </ul>

    </div>
  </nav>
</div>
</body>
</html>
<router-outlet></router-outlet>
<notifier-container></notifier-container>
