.img_wrp {
  display: inline-block;
  position: relative;
}
.infoButton {
  position: absolute;
  bottom: 10%;
  right: 2%;
  width: 13%;
  height: 20%;
}
.commentButton {
  position: absolute;
  bottom: 10%;
  right: 17%;
  width: 13%;
  height: 20%;
}

#images, #imagesAd {
  padding-top: 30px;
}

.myCustomModalClass .modal-lg {
  max-width: 70%;
}

#carBrandInfo, #carModelInfo, #carClassInfo, #fuelTypeInfo, #transmissionTypeInfo, #mileageInfo, #averageRatingInfo,
#childSeatsInfo, #hasAndroidInfo, #hasAndroidInfo2, #hasCdwInfo, #hasCdwInfo2, #pricelistInfo, #allowedDistanceInfo {
  resize: none;
  height: 35px;
  overflow: hidden;
}

.marginsRating {
  display: inline-block;
  margin: 2%;
}
.marginsReply {
  margin-left: 2%;
}
textarea[type="text"]:disabled{
  color: black;
  background-color:#d2eff3;
  resize: none;
}
.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #b8ebf3;
}

.full {
  color: #17a2b8;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #17a2b8;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}
#currentRateCSS {
  margin-left:10px;
  font-size: 20px;
}
